.fa-red {
	color: red;
}

.fa-green {
	color: green;
}

.fa-menu {
	padding-right: 5px;
}

.dialog-single .ui-dialog-title {
	padding-left: 20px;
}

.dialog-single .ui-dialog-title:before {
	position: absolute;
	font-family: FontAwesome;
	top: 12px;
	left: 10px;
	content: "\f1dc";
}

.dialog-sitemap .ui-dialog-title {
	padding-left: 20px;
}

.dialog-sitemap .ui-dialog-title:before {
	position: absolute;
	font-family: FontAwesome;
	top: 12px;
	left: 10px;
	content: "\f0e8";
}

.dialog-spider .ui-dialog-title {
	padding-left: 20px;
}

.dialog-spider .ui-dialog-title:before {
	position: absolute;
	font-family: FontAwesome;
	top: 12px;
	left: 10px;
	content: "\f188";
}

.dialog-xml .ui-dialog-title {
	padding-left: 20px;
}

.dialog-xml .ui-dialog-title:before {
	position: absolute;
	font-family: FontAwesome;
	top: 12px;
	left: 10px;
	content: "\f121";
}

.dialog-json .ui-dialog-title {
	padding-left: 20px;
}

.dialog-json .ui-dialog-title:before {
	position: absolute;
	font-family: FontAwesome;
	top: 12px;
	left: 10px;
	content: "\f121";
}

.customMenuItem {
	padding-top: 12px !important;
	padding-bottom: 12px !important;
}

.menuButton {
	float: left;
	padding-right: 2px;
}

.panelColumnSmall {
	width: 150px;
}

.statusBtn {
	background: none !important;
	border: none !important;
	-webkit-box-shadow: none !important;
	box-shadow: none !important;
}

.container {
	padding-top: 10px;
}

.configurationGridCol1 {
	width: 290px;
}

.configurationGridCol2 {
	width: 210px;
}

.tableNoBorder tr {
	border: 0 !important;
}

.tableNoBorder tr td {
	border: 0 !important;
	background-color: #eeeeee;
}

.hide-column-names table thead tr {
	display: none;
}

.ui-datatable-empty-message {
	background-color: #eeeeee;
}

.greyBackground {
	background-color: #eeeeee;
}

.ui-accordion-content {
	background-color: #eeeeee;
}

.mandrillappButton {
	background-image: url("#{resource['images/mandrillapp.png']}")
		!important;
	height: 41px;
	width: 52px;
}

.gmailButton {
	background-image: url("#{resource['images/gmail.png']}") !important;
	height: 41px;
	width: 52px;
}

.homeButton {
	background-image: url("#{resource['images/home.png']}") !important;
	height: 41px;
	width: 52px;
}

.center {
	margin-left: auto;
	margin-right: auto;
}